body, html {
    margin-top: 80px;
}

.banner{
    margin-left: 150px;
    
}

.banner-buttons{
    height: 50px;
    background-color: #993ddb;
    border-radius: 10px;
    border: 5px solid #ce9cfd;
    
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 4rem 1rem;
    background: #fff;
    text-align: center;
    flex-wrap: wrap;
}

.feature-item {
    width: 280px;
    padding: 2rem;
    background: #ece9ff;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.feature-item:hover {
    transform: translateY(-5px);
}

.feature-item h3 {
    font-size: 1.3rem;
    color: #333;
}

.feature-item p {
    font-size: 1rem;
    color: #555;
}

/* Call to Action */
.promo {
    background-color: #6a5acd;
    color: white;
    text-align: center;
    padding: 4rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.promo-content {
    max-width: 400px;
}

.promo img {
    width: 350px;
    border-radius: 10px;
}
